@import url(https://fonts.googleapis.com/css?family=Montserrat:800,200);
body {
  font-family: montserrat;
  overflow-x: hidden;
  width: 100%;
  height: 150vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #1e2134;
  color: #fff;
}

.bg-text-container {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  position: absolute;
  z-index: -999;
}

@-webkit-keyframes text-scrolling {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(110%, 0, 0);
            transform: translate3d(110%, 0, 0);
  }
}

@keyframes text-scrolling {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(110%, 0, 0);
            transform: translate3d(110%, 0, 0);
  }
}

@-webkit-keyframes text-scrolling-left {
  0% {
    -webkit-transform: translate3d(68%, 0, 0);
            transform: translate3d(68%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-55%, 0, 0);
            transform: translate3d(-55%, 0, 0);
  }
}

@keyframes text-scrolling-left {
  0% {
    -webkit-transform: translate3d(68%, 0, 0);
            transform: translate3d(68%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-55%, 0, 0);
            transform: translate3d(-55%, 0, 0);
  }
}

.animate-text {
  -webkit-animation: text-scrolling 35s linear infinite;
          animation: text-scrolling 35s linear infinite;
  will-change: transform;
  display: block;
  position: relative;
  white-space: nowrap;
}

.animate-text.left {
  -webkit-animation: text-scrolling-left 35s linear infinite;
          animation: text-scrolling-left 35s linear infinite;
}

span:not(.options) {
  font-size: 280px;
  color: transparent;
  -webkit-text-stroke: 2px #30442a;
  text-transform: uppercase;
  display: inline-block;
  line-height: 0.75;
  min-width: auto;
  font-weight: 800;
}

.container {
  padding: 30px;
  max-width: 1000px;
  width: 100%;
  margin-left: 15%;
}

.container .col {
  width: 100%;
  margin: 0;
}

h1 {
  font-size: 100px;
  margin: 0;
}

p {
  font-size: 21px;
  font-weight: 200;
  margin: 0;
}

.inclinato {
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
}

button {
  font-weight: 600;
  background: transparent;
  border: none;
  color: white;
  font-family: montserrat;
  font-size: 46px;
  -webkit-transition: .25s;
  transition: .25s;
  z-index: 3;
}

button:hover {
  background: rgba(255, 255, 255, 0.118);
  border-radius: 12px;
  padding: .5em;
}

button:active {
  background: rgba(255, 255, 255, 0.5);
}

.divBtns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 43%;
}

.testoBtn {
  position: absolute;
  margin-bottom: 175px;
  font-size: 30px;
}

.containerAnimation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: 150vh;
}

.backgroundColor {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 75%;
  background-color: #1e2134;
  z-index: -1;
}

.chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-animation: move-chevron 3s ease-out infinite;
          animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  -webkit-animation: move-chevron 3s ease-out 1s infinite;
          animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  -webkit-animation: move-chevron 3s ease-out 2s infinite;
          animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #ffffff;
}

.chevron:before {
  left: 0;
  -webkit-transform: skewY(30deg);
          transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skewY(-30deg);
          transform: skewY(-30deg);
}

@-webkit-keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}
/*# sourceMappingURL=style.css.map */