@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@font-face{font-family: RobotoMono; src: url('fonts/RobotoMono-Regular.ttf');}

body{
  background-color: #1a1a1a;
}

h2, h1, p, .Typewriter__wrapper, .Typewriter__cursor {
  color: white;
  font-family: Poppins, sans-serif;
}
.centerFlex{
  display: flex;
  justify-content: center;
}

p, .Typewriter__wrapper, .Typewriter__cursor {
  -webkit-text-emphasis: size;
          text-emphasis: size;
  text-align: center;
  font-size: 25px;
}

