@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto+Mono&display=swap');

body{
  background-color: #101010;
  font-family: Poppins, sans-serif;
  color: white;
}
.Typewriter__wrapper, .Typewriter__cursor{
  font-family: 'Roboto Mono', 'Montserrat';
}
p, .Typewriter__wrapper, .Typewriter__cursor {
  -webkit-text-emphasis: size;
          text-emphasis: size;
  text-align: center;
  font-size: 25px;
}

.flex-div{
  display: flex;
  justify-content: center;
}
.title{
  margin-top: 5%;
}
